@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.error{

    margin-top: 50px;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

html {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    scroll-behaviour:smooth;
}



.not-found {

    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);


    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}


/*  color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.5);
     */

.line-one {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.5);
}

.name {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 330px ;
    color: rgba(0, 0, 0, 0.5);
}